@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
$black: #111;
$white: #fff;
$offWhite: rgb(219, 219, 219);
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
body{
    font-family: 'Mulish', sans-serif;
    z-index: inherit;
    max-width: 100vw;
    font-size: 1.6rem;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar {display:none;}